.main-parent-container {
    display: flex;
    width: 100vh;
    height: 100vh
}

// SIDEBAR START




.sidebar-container {
//
    position: fixed;
    height: 100vh;
//
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    background-color: rgb(46, 53, 80)
    // width: 65px;
}




// .workspace-home-link-button {

// }

.sidebar-top-buttons {
    display: flex;
    // align-items: flex-start;
    justify-content: flex-start;
    height: 50%;
    justify-content: center;
    padding-top: 50px;
}

.sidebar-bottom-buttons {
    display: flex;
    flex-direction: column-reverse;
    height: 50%;
    padding: 10px;
}

.workspace-home-link-button {
    background-color: gray;
    color: white;
    font-size: 28px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.5s;

}


.logout-button {
    // padding: 10px;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 35px;
    width: 43px;
    height: 43px;
    text-align: center;
    background-color: green;
    color: white;
    transition: transform 0.5s;
}

.logout-button:hover { 
    transform: scale(0.85);
    cursor: pointer;
}

.workspace-home-link-button:hover { 
    transform: scale(0.85);
    cursor: pointer;
}
// SIDEBAR END



// WORKSPACE START





.workspace-board-parent-container {
//
    position: fixed;
    left: 65px;
    height: 100vh;
//


    width: 235px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f6f8;
    border-right: 1px solid rgb(218, 216, 216);
}

.workspace-parent-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    margin: 5px;
}

.workspace-header {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 9px;
    color: #676879;
}

.workspace-index-container {
    display: flex;
}



// WORKSPACE END


// BOARD START 

.board-parent-container{
    height: 80%;
    width: 100%;
    margin: 10px;
    padding-top: 10px;
    border-top: 1px solid rgb(218, 216, 216);
}


.board-list-container {
    margin-top: 10px;
}
.board-title {
    display: flex;
    width: 75%;
    // height: 80%;
    flex-direction: column;
    text-align: left;
}

.add-board-display-button {
    width: 100%;
    background: none;
    // height: 80%;
    border: none;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.add-board-display-button:hover {
    background-color:  rgba(228, 228, 228, 0.87);
    border-radius: 5px;
}

.board-dropdown-container {
    display: flex;
    align-items: center;
    border: none;
}

.board-item-container {
    display: flex;
    align-items: center;
    max-height: 34px;
    // flex-direction: row;
}


.board-item-container:hover {
    background-color: rgba(228, 228, 228, 0.87);
    border-radius: 7px;

    .board-dropdown-button {
        display: block;
    }
    .board-dropdown-container {
        border: none;
    }
    .board-dropdown-button::after {
        content: "\22EF";
        border: none;
        color: black;
        font-size: 32px;
        display: flex;
        align-items: center;
        border: none;
    }
}

.selected-board-item-container {
    display: flex;
    align-items: center;
    max-height: 34px;
    background-color: #bfe4ff;
    border-radius: 7px;
}


.selected-board-item-container:hover {
    border-radius: 7px;

    .board-dropdown-button {
        display: block;
    }

    .board-dropdown-button::after {
        content: "\22EF";
        border: none;
        color: black;
        font-size: 32px;
        display: flex;
        align-items: center;
        border: none;
    }
}

.board-title a {
    color: inherit;
    font-size: 14px;
}

.dashboard-main-parent-container {
//
    position: relative;
    left: 320px;
//
    // width: 100vw;
    // height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.dashboard-container{
    width: 81vw;
    padding: 10px;
    margin: 10px;
}

// welcome dashboard
.welcome-dashboard-parent-container {
    text-align: center;
    h1 {
        font-size: 32px;
    }
}

//board info display dashboard

.board-dashboard-banner {
    width: 100%;
    font-size: 36px;
    font-weight: 400;
    margin: 15px;
}

.board-banner-left input{
    background: none;
    border: none;
    font-size: 32px;
}

.new-project-button {
    background-color: blue;
    color: white;
    height: 35px;
    width: 95px;
    border-radius: 5px;
}

.project-nav-bar { 
    width: 100%;
    margin: 15px;
}

.projects-parent-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    // height: 100vh;
    padding: 5px;
}

.add-project-button {
    background-color: #0085ff;
    color: white;
    height: 35px;
    width: 90px;
    border-radius: 5px;
}

.single-project-container {
    padding: 5px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.project-banner {
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 7px;

}

.project-banner-left {
    display: flex;
    // padding-left: 10px;
    font-size: 18px;
    width: 70%;    
}

.project-banner-right {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.project-banner-left:hover {
    list-style: none;
    // padding: 5px;
    // background-color: rgb(211, 211, 211);

    .project-edit-button {
        display: inline;
        background: transparent;
        border: none;
    }
    .project-dropdown-button {
        display: block;
        background-color: lightgray;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 10px;
        padding: 0px;
        width: 15px;
        height: 15px;
    }

}

.project-edit-button {
    display: none;
}


.project-edit-button-hidden {
    display: none;
}

.project-banner-title form input {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}


.project-banner-title input{
    background: none;
    border: none;
}



// TASKS 

.task-item-list-container div {
    list-style: none;
    margin-bottom: 1px;
    height: 30px;
    display: flex;
    align-items: center;
}

.task-container {
    display: flex;
    flex-direction: row;
}

.task-item-content-container {
    width: 79%;
    box-sizing: border-box;
    position: fixed;
    margin-left: 25px;
    background-color: rgb(236, 236, 236);
}

.task-item-button-container {
    width: auto;
}

// holds all task, minus button
.task-container:hover {
    list-style: none;
    // padding: 5px;
    .task-item-content-container {
        background-color: rgb(211, 211, 211);
    }
    .task-edit-button {
        display: inline;
        background: transparent;
        border: none;
    }

    .task-dropdown-button{
        display: flex;
        align-items: center;
        width: 15px;
        height: 10px;
        // margin-right: 10px;
    }

}

.task-edit-button {
    display: none;
    margin-left: 5px;
}


.task-item-left-side {
    display: flex;
    width: 70%
}



.task-edit-button-hidden {
    display: none;
}


.task-item-right-side {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

// .task-title {
//     width: 70%;
//     border-right: 1px solid white;
// }

.task-title input {
    background: none;
    border: none;
    width: 100%;
    margin: 10px;
}

.task-person {
    width: 33%;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.task-status {
    width: 33%;
    border-right: 1px solid white;
    text-align: center;
}

.task-due-date {
    width: 33%;
    border-right: 1px solid white;
}

#new-task-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#new-task-input-field {
    margin-left: 25px;
    width: 93.5%;
    height: 25px;
    border: 0.5px solid rgb(165, 165, 165);
    opacity: 0.6;
}

#new-task-input-field:hover {
    border: 1px solid black;
    opacity: 1;
}

.new-task-form-button {
    width: 4.3%;
    height: 30px;
    padding: 3px;
    background-color: #0085ff;
    color: white;
}


.single-project-container form {
    width: 100%;
}


