.main-parent-container {
    display: flex;
    width: 100vh;
    height: 100vh
}

// SIDEBAR START

.sidebar-container {
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    background-color: rgb(46, 53, 80)
    // width: 65px;
}

// .workspace-home-link-button {

// }

.sidebar-top-buttons {
    display: flex;
    // align-items: flex-start;
    justify-content: flex-start;
    height: 50%;
    justify-content: center;
    padding-top: 50px;
}

.sidebar-bottom-buttons {
    display: flex;
    flex-direction: column-reverse;
    height: 50%;
    padding: 10px;
}

.workspace-home-link-button {
    background-color: gray;
    color: white;
    font-size: 28px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.5s;

}


.logout-button {
    // padding: 10px;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 35px;
    width: 43px;
    height: 43px;
    text-align: center;
    background-color: green;
    color: white;
    transition: transform 0.5s;
}

.logout-button:hover { 
    transform: scale(0.85);
    cursor: pointer;
}

.workspace-home-link-button:hover { 
    transform: scale(0.85);
    cursor: pointer;
}
// SIDEBAR END

.workspace-board-parent-container {
    width: 235px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f6f8;
    border-right: 1px solid rgb(218, 216, 216);
}

.workspace-parent-container {
    display: flex;
    flex-direction: column;
    height: 20%;
    border-bottom: 1px solid rgb(218, 216, 216);
}

.workspace-index-container {
    display: flex;
}


.board-parent-container{
    height: 80%;
    width: 100%;
    margin: 10px;;
}

.board-title {
    display: flex;
    width: 85%;
    // height: 80%;
    flex-direction: column;
    text-align: left;
}

.board-list-container a:hover {
    background-color: rgba(212, 211, 211, 0.87);
    border-radius: 5px
}

.board-item-container {
    display: flex;
}

.board-dropdown-button {
    width: 30px;
    height: 30px;
}
.board-dropdown-button:hover {
    background-color: blue;
}


// board dropdown start
.dropdown-button {
    background: transparent;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.dropdown-button:hover {
    background: transparent;
}

.display-dropdown {
    top: 22px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px 5px 20px;
    min-width: 150px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    margin: 10px;
 }

 .no-dropdown {
    display: none;
 }

 .board-inner-dropdown-button {
    background: none;
    padding: 10px;
    font-size: 18px;
}

.board-inner-dropdown-button:hover {
    background-color: rgba(212, 211, 211, 0.87);
    border-radius: 5px
}


// board dropdown end

.dashboard-main-parent-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.dashboard-container{
    width: 70vw;
    padding: 10px;
    margin: 10px;
}

.add-board-button {
    background-color: blue;
    color: white;
    height: 35px;
    width: 90px;
    border-radius: 5px;
}

// welcome dashboard
.welcome-dashboard-parent-container {
    text-align: center;
    h1 {
        font-size: 32px;
    }
}

//board info display dashboard

.board-dashboard-banner {
    width: 100%;
    font-size: 36px;
    font-weight: 400;
    margin: 15px;
}
.new-project-button {
    background-color: blue;
    color: white;
    height: 35px;
    width: 95px;
    border-radius: 5px;
}

.project-nav-bar { 
    width: 100%;
    margin: 15px;
}

.projects-parent-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100vh;
    padding: 5px;
}

.add-project-button {
    background-color: blue;
    color: white;
    height: 35px;
    width: 90px;
    border-radius: 5px;
}

.single-project-container {
    padding: 20px;
}

.project-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 7px;
}

.project-banner-left {
    display: flex;
    // padding-left: 10px;
    color: blue;
    font-size: 18px;
    width: 68%
}

.project-banner-dropdown {
    width: 15px;
    margin-right: 10px;
}

.project-banner-dropdown:hover {
    background-color: blue;
}

.project-banner-right {
    display: flex;
    justify-content: space-around;
    width: 33%;
}

.task-item-list-container div {
    list-style: none;
    padding: 5px;
    background-color: rgb(226, 226, 226);
    margin-bottom: 1px;
}
.task-item-list-container div:hover {
    list-style: none;
    padding: 5px;
    background-color: rgb(202, 199, 199);
}

.task-container {
    display: flex;
    flex-direction: row;
}

.task-title {
    width: 70%;
    border-right: 1px solid white;
}

.task-person {
    width: 10%;
    border-right: 1px solid white;

}

.task-status {
    width: 10%;
    border-right: 1px solid white;

}

.task-due-date {
    width: 10%;
    border-right: 1px solid white;

}

