// MAIN CONTAINER, TOP LEVEL
.main-parent-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: white;
}

// sidebar is in sidebar.scss

// level 2 
.main-work-area {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: calc(100vw - 65px);
}

// level 2 
.workspace-board-parent-container {
    display: block;
    height: auto;
    width: 235px; 
    // overflow-y: auto;
    padding: 1% 1% 1% 1%;
    background-color: #f5f6f8;
    border-right: 1px solid rgb(218, 216, 216);
}

.dashboard-container {
    width: 100%;
    display: block;
    padding: 15px;
    // overflow-y: auto;
}


.workspace-parent-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

    .workspace-header {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 9px;
        color: #676879;
        display: flex;
        align-items: center;
    }

    .workspace {
        text-align: left;
        width: 83%;
    }

    .workspace-index-container {
        display: flex;
    }

.board-parent-container{
    height: auto; 
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid rgb(218, 216, 216);
}

    .board-title {
        display: flex;
        width: 75%;
        // height: 80%;
        flex-direction: column;
        text-align: left;
        a:link {
            padding: 10px;
        }
    }

    .add-board-display-button {
        width: 100%;
        background: none;
        // height: 80%;
        border: none;
        flex-direction: column;
        text-align: left;
        padding: 10px;
    }

        .add-board-display-button:hover {
            background-color:  rgba(228, 228, 228, 0.87);
            border-radius: 5px;
            cursor: pointer;
        }

    .board-dropdown-container {
        display: flex;
        align-items: center;
        border: none;
    }
    .gg-board {
        display: block;
        position: relative;
        margin-left: 10px;
        padding-left: 5px;
        box-sizing: border-box;
        transform: scale(var(--ggs,1));
        width: 12px;
        height: 10px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        box-shadow:
            0 0 0 2px,
            inset 2px 0 0,inset -2px 0 0;
        border-radius: 2px
    }
    

    .board-item-container {
        a:link {
            padding: 10px;
        }
        display: flex;
        align-items: center;
        position: relative;
        max-height: 34px;
        // flex-direction: row;
    }


    .board-item-container:hover {
        background-color: rgba(228, 228, 228, 0.87);
        border-radius: 7px;
        cursor: pointer;

        .board-dropdown-button {
            display: flex;
            flex-direction: row-reverse;
            text-align: right;
        }

        .board-dropdown-container {
            border: none;
        }
        
        .board-dropdown-button::after {
            content: "\22EF";
            border: none;
            color: black;
            font-size: 22px;
            text-align: right;
            display: flex;
            align-items: center;
            border: none;
            font-weight: bolder;
        }
    }

    .selected-board-item-container {
        display: flex;
        position: relative;
        align-items: center;
        max-height: 34px;
        background-color: #bfe4ff;
        border-radius: 7px;
    }

    .selected-board-item-container:hover {
        border-radius: 7px;
        cursor: pointer;

        .board-dropdown-button {
            display: block;
        }

        .board-dropdown-button::after {
            content: "\22EF";
            border: none;
            color: black;
            font-size: 32px;
            display: flex;
            align-items: center;
            border: none;
        }
    }

    .board-title a {
        color: inherit;
        font-size: 14px;
    }

//board info display dashboard

.board-dashboard-banner {
    width: 97%;
    height: 60px;
    font-size: 30px;
    box-sizing: border-box;
    font-weight: 400;
    margin: 5px 10px 25px 10px;
    display: flex;
    form {
        height: 50%;
        align-items: center;
    }
}

.board-dashboard-banner-left {
    width: 70%;
}

.board-dashboard-banner-right {
    font-size: 16px;
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    text-align: center;
    align-items: center;
}

#add-to-board {
    width: 100px;
    height: 18px;
    font-size: 14px;
    margin-left: 15px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
    font-family: inherit;
}

#invite {
    padding: 5px;
    width: 90px;
    font-size: 14px;
    height: 18px;
    font-family: inherit;
}

#activity {
    padding: 5px;
    width: 90px;
    height: 18px;
    font-size: 14px;
    font-family: inherit;
}

#add-to-board:hover {
    background-color: rgb(211, 211, 211);
    cursor: not-allowed;
}
    
#activity:hover {
    background-color: rgb(211, 211, 211);
    cursor: not-allowed;
    border-radius: 3px;
}

#invite:hover {
    background-color: rgb(211, 211, 211);
    cursor: not-allowed;
    border-radius: 3px;
}

#board-title-not-selected {
    width: 50%;
    font-size: 30px;
    border: none;
    font-weight: bold;
}

#board-title-not-selected:hover {
    border: dashed .75px rgb(173, 173, 173);
    width: 50%;
    font-size: 30px;
}

#board-title-selected {
    font-weight: bold;
    width: 50%;
    border: solid .75px blue;
    font-size: 30px;
    outline: none;
    // background-color: red;
}


#board-description-not-selected {
    font-size: 14px;
    width: 50%;
    border: none;
    // height:100%;
    box-sizing:border-box;
}

#board-description-not-selected:hover {
    font-size: 14px;
    width: 100%;
    border: dashed .75px rgb(173, 173, 173);
}

#board-description-selected {
    font-size: 14px;
    width: 50%;
    border: solid .75px blue;
    outline: none;
}






.create-project-form-container {
    display: flex;
    button {
        background-color: #0085ff;
        color: white;
        cursor: pointer;
 
    }
    border-radius: 10px;
    height: 30px;
    width: 110px;
}

.add-project-button {
    height: 100%;
    width: 90px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.add-project-button:hover {
    background-color: #0060b9
}

.add-project-item-button:hover {
    background-color: #0060b9
}

.add-project-item-button{
    display: flex;
    align-items: center;
    padding-top: 2px;
    border-left: .3px solid rgb(53, 53, 53);
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.add-project-item-button::after {
    content: '\2304';
    height: 100%;
    width: 20px;
}

.new-project-button {
    color: white;
    height: 35px;
    width: 95px;
    border-radius: 5px;
}

.project-nav-bar { 
    width: 97%;
    margin: 10px;
}

.projects-parent-container {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    box-sizing: border-box;
    width: 98%;
}


.single-project-container {
    margin-bottom: 50px;
    box-sizing: border-box;
}

.project-banner {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
}

.project-banner-left {
    display: flex;
    font-size: 18px;
    width: 70.65%;    
}

.project-banner-right {
    display: flex;
    justify-content: space-around;
    width: 29.35%;
    span {
        width: 100%;
        height: 30px;
        text-align: center;
    }
    span:hover {
        background-color: #f5f6f8;
    }
}

.project-banner-left:hover {
    list-style: none;
}

.project-banner-title {
    display: flex;
    margin-left: 12px;
    width: 100%;
}

.project-banner-title {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

#project-input-not-selected {
    width: 50%;
    font: inherit;
    margin-left: 10px;
    border: none;
}

#project-input-not-selected:hover {
    border: dashed .75px rgb(173, 173, 173);
    width: 50%;
    margin-left: 10px;
    font: inherit;
}

#project-input-selected {
    width: 98.5%;
    border: dashed .75px rgb(173, 173, 173);
    margin-left: 10px;
    font: inherit;
    outline: none;
    // background-color: red;
}
// TASKS 

.task-container {
    margin-bottom: 1px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    // list-style: none;
    // margin-bottom: 1px;
    height: 30px;
}

.task-item-content-container {
    margin-left: 1.5%;
    width: 100%;
    height: 30px;
    display: flex;
    box-sizing: border-box;
    // position: fixed;
    background-color: rgb(236, 236, 236);
}

.task-item-button-container {
    width: auto;
}

// holds all task, minus button
.task-container:hover {
    list-style: none;
    .task-item-content-container {
        background-color: rgb(211, 211, 211);
    }
    .task-edit-button {
        display: inline;
        background: transparent;
        border: none;
    }

    .task-dropdown-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.task-edit-button {
    display: none;
    margin-left: 5px;
}

.task-item-left-side {
    display: flex;
    align-items: center;
    width: 70%
}

.task-edit-button-hidden {
    display: none;
}


.task-item-right-side {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.task-title {
    width: 45%;
}
.task-title input {
    background: none;
    border: none;
    width: 100%;
    margin-left: 10px;
}

.task-person {
    width: 33%;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.task-status {
    position: relative;
    width: 33%;
    border-right: 1px solid white;
    text-align: center;
}

.task-due-date {
    position: relative;
    text-align: center;
    width: 33%;
    border-right: 1px solid white;
    font-size: 12px;
}
#task-form-container{
    margin-left: 1.5%;
}
#new-task-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.task-container form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#new-task-input-field {
    // margin-left: 1.45%;
    width: 95%;
    min-height: 25px;
    border: 0.5px solid rgb(165, 165, 165);
    opacity: 0.6;
}

#new-task-input-field:hover {
    border: 0.5% solid black;
    opacity: 1;
}

.new-task-form-button {
    width: 5%;
    height: 30px;
    background-color: #0085ff;
    color: white;
}

.single-project-container form {
    width: 100%;
}

.react-datepicker-wrapper {
    height: 100%;
}
.react-datepicker__input-container {
    height: 100%;
    display: flex;
    align-items: center;
    input {
        background-color: #f5f6f8;
        background: transparent;
        border: none;
        text-align: center;
        width: 95%;
        height: 94%;
        font-size: inherit;
    }
}


