 
// BOARDS 

.board-dropdown-button-container {
    width: 20px;
    height: 20px;
}

.board-dropdown-button {
    display: none;
    background: transparent;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}


.board-display-dropdown {
    top: 10px;
    right: 20px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    min-width: 150px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    margin: 10px;
}

.no-dropdown {
    display: none;
}

.display-dropdown {
    top: 22px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px 5px 20px;
    min-width: 150px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    margin: 10px;
 }
 // dropdown styling 

 .board-inner-dropdown-button {
    background: none;
    padding: 10px;
    font-size: 18px;
}

.board-inner-dropdown-button:hover {
    background-color: rgba(212, 211, 211, 0.87);
    border-radius: 5px
}

// BOARD END

// PROJECT START

.project-dropdown-container {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.project-dropdown-container:hover {
    background-color: blue;
}

.project-dropdown-button {
    background: transparent;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

// PROJECT END

.task-dropdown-button-container {
    width: 15px;
    height: 10px;
    margin-right: 10px;
}

.task-dropdown-button {
    background: transparent;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

// TASK START