.workspace-dropdown-button:hover {
    cursor: pointer;
}
.workspace-dropdown-button-container {
    border-style: solid;
    border-radius: 4px;
    border-width: thin;
    width: 100%;
    height: 40px; 
    display: flex;
    padding: 6px 6px 6px 0px;
    box-sizing: border-box;
    position: relative;
}

.workspace-dropdown-button {
    display: flex;
    width: 100%;
    justify-content: row;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    box-sizing: border-box;
    border: none;
}

.workspace-dropdown-icon {
    // width: auto;
    text-align: center;
    margin-right: 8px;
    margin-left: 2px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(255, 20, 110);
    color: white;
    border-radius: 5px;
    
}

.workspace-dropdown-title {
    text-align: center;
    width: 50%;
}

.arrow-icon {
    display: flex;
    align-items: center;
    width: 25%;
}

.arrow-icon::after {
    content: "\2304";
    font-size:16px;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 10px;
}

.workspace-delete-button-container {
    position: relative;
    text-align: center;

    &:hover {
        background-color: rgba(192, 192, 192, 0.25)
    }
}
#workspace-delete-dropdown-button {
    border: none;
    background: none;
    width: 100%;
    margin: none;
    cursor: pointer;
    box-sizing: border-box;

    &::after {
        content: "\22EF";
        color: black;
        font-size: 22px;
        font-weight: bolder;
    }
}
#workspace-delete-display-dropdown {
    background-color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    width: 500%;
    position: absolute;
    top: 31px;
    left: 0px;
    z-index: 100;
    // padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
}


#delete-workspace {
    width: 90%;
    color: red;
    &:hover {
        background-color: #E6E9EF;
    }
}


// main dropdown container
.workspace-display-dropdown {
    a:link {
        padding: 10px;
    }
    display: flex;
    flex-direction: column;
    // height: 150px;
    top: 48px;
    right: 0px;
    left: 2px;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    background-color: white;
    // padding: 5px 10px 5px 10px;
    min-width: 250px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    // margin: 10px;
}

.workspace-inner-dropdown-container {
    margin: 5px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

// 'My workspaces'
.workspace-inner-dropdown-title {
    color: #676879;
    font-size: 14px;
}

.workspace-index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: flex-start;
}

.workspace-inner-dropdown-button {
    height: 100%;
    width: 85%;
    text-decoration: none;
    color: inherit;
    margin: 5px 0px 5px 5px;
    font-size: 14px;
}

.workspace-inner-dropdown-button:hover {
    background-color:rgba(192, 192, 192, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

#add-workspace {
    border-top: 3px solid #dad8d8;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
	cursor: pointer;
	outline: inherit;
}

#add-workspace:hover {
    background-color:rgba(192, 192, 192, 0.25);
    border-radius: 5px;
}

// BOARDS 

.board-dropdown-button {
    // height: 20px;
    display: none;
    // margin-left: 5px;
    // border: none;
    // background: transparent;
    // color: black;
    // cursor: pointer;
    // font-weight: bold;
    // font-size: 32px;  
    // text-align: center;
}

// 

.board-display-dropdown {
    position: absolute;
    top: 20px;
    left: 140px;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    min-width: 150px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    margin: 10px;
    z-index: 100;
}



 // dropdown styling 

 .board-inner-dropdown-button {
    background: none;
    padding: 10px;
    font-size: 18px;
}

.board-inner-dropdown-button:hover {
    background-color: rgba(212, 211, 211, 0.87);
    border-radius: 5px;
    cursor: pointer;
}

// BOARD END

// PROJECT START
.project-button-container {
    position: absolute;
}

.project-dropdown-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    // background-color: lightgray;
    border: none;
    border-radius: 50%;
    margin: 0px;
    margin-top: 2px;
    padding: 0px;
    width: 15px;
    height: 15px;
    color: white;
    font-size: 12px;
    button {
        display: flex;
    }
}

.project-dropdown-button:hover {
    cursor: pointer;
}

.project-display-dropdown {
    top: 5%;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px 5px 20px;
    min-width: 150px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    margin: 10px;
    z-index: 100;
 }


// PROJECT END

.task-dropdown-button-container {
    position: absolute;
    display: none;
    width: 1.25%;
    // margin-right: 0.25%;
    margin-left: 0;

    div {
        width: 100%;
    }
}

.task-dropdown-button-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 17px;
    height: 17px;
}

    .task-dropdown-button {
        display: none;
        text-align: center;
        position: relative;
        background: #e6e9ef;
        border-radius: 4px;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }

    .task-display-dropdown {
        top: 5px;
        left: 0px;
        position: absolute;
        border-radius: 10px;
        background-color: white;
        padding: 5px 10px 5px 20px;
        min-width: 150px;
        box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
        line-height: 20px;
        text-align: left;
        margin: 10px;
        z-index: 10;
    }

.task-inner-dropdown-button {
    background: none;
    padding: 10px;
    font-size: 18px;
}

.task-inner-dropdown-button:hover {
    background-color: rgba(212, 211, 211, 0.87);
    border-radius: 5px;
    cursor: pointer;
}

// TASK STATUS START

#task-status-display-button {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    color: white;
    font: inherit;
    font-size: 12px;
    cursor: pointer;
}

#task-status-display-dropdown {
    background-color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 31px;
    right: 0px;
    z-index: 100;
    // padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
}

.no-dropdown {
    display: none;
}

#no-dropdown {
    display: none;
}

.task-dropdown-item {
    width: 80%;
    height: 30px;
    text-align: center;
    margin: 4px 5px 4px 5px;
    font-size: 12px;
    display: flex;
    // align-items: center;
    color: white;
    border: none;
}

.task-dropdown-item:hover {
    cursor: pointer;
    opacity: 0.8;
}

#working-on-it {
    background-color: #f8a83c;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#stuck {
    background-color: #e2445c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#done {
    background-color: #00c875;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#empty {
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#task-person-display-button {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    font: inherit;
    font-size: 12px;
    cursor: pointer;
}

#task-person-display-dropdown {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // height: 200px;
    width: 130%;
    top: 31px;
    right: 0px;
    z-index: 10000;
    // padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
}
#break-line-people {
    margin-top: 6px;
    margin-left: 15px;
    // width: 90%;
    // border-bottom: 1px solid black;
}
.task-users-dropdown-item {
    // width: 25%;
    width: 85%;
    padding-left: 10px;
    border: 1px solid black;
    height: 30px;
    text-align: left;
    margin: 2px 2px 4px 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: black;
    border: none;
}

.task-users-dropdown-item:hover {
    cursor: pointer;
    background-color: #E6E9EF;
}
.task-users-dropdown-item-selected {
    // width: 25%;
    width: 85%;
    padding-left: 10px;
    border: 1px solid black;
    height: 30px;
    text-align: left;
    margin: 2px 2px 4px 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: black;
    border: none;
    background-color: #cce5ff;
}

.task-users-dropdown-item-selected:hover {
    cursor: pointer;
}

.task-user-name {
    width: 85%;
}
.remove-task-user {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    width: 14px;
    padding: 2px;
    border-radius: 8px;
}

.remove-task-user:hover {
    background-color: white;
    
}