
.workspace-dropdown-button {
    display: flex;
    justify-content: row;
    background: transparent;
    margin: 0px;
    padding: 0px;
    // width: 100%;
    height: 40px;
    border-radius: 4px;
    border-width: thin;
    font-size: 16px;
    font-weight: bold;
}

.workspace-dropdown-button:hover {
    cursor: pointer;
}
.workspace-dropdown-button-container {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 6px;
    
}
.workspace-dropdown-icon {
    width: auto;
    text-align: center;
    margin-right: 8px;
    margin-left: 2px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(255, 20, 110);
    color: white;
    border-radius: 5px;
}

.workspace-dropdown-title {
    width: auto;
    text-align: center;
}

.arrow-icon {
    display: flex;
    align-items: center;
}

.arrow-icon::after {
    content: "\2304";
    font-size:16px;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 10px;
}
// 2026


.workspace-display-dropdown {
    top: 75px;
    left: 66px;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    // padding: 5px 10px 5px 10px;
    min-width: 265px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    margin: 10px;
    height: 150px;
    // height: 300px;
}

.workspace-display-dropdown:focus {
    display: flex;

}   

.workspace-inner-dropdown-button {
    background: none;
    padding: 10px;
    font-size: 12px;
    border: 1px solid red;
    font-size: 18px;
}

.workspace-inner-dropdown-button:hover {
    background-color:rgba(192, 192, 192, 0.25)
}

// BOARDS 

.board-dropdown-button-container {
    width: 20px;
    height: 20px;
}

.board-dropdown-button {
    display: none;
    background: transparent;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: black;
    content: '\2807';
    font-size: 30px;  
}


.board-display-dropdown {
    top: 10px;
    right: 20px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    min-width: 150px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    margin: 10px;
}

.no-dropdown {
    display: none;
}

 // dropdown styling 

 .board-inner-dropdown-button {
    background: none;
    padding: 10px;
    font-size: 18px;
}

.board-inner-dropdown-button:hover {
    background-color: rgba(212, 211, 211, 0.87);
    border-radius: 5px
}

// BOARD END

// PROJECT START

.project-dropdown-container {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.project-dropdown-container:hover {
    background-color: blue;
}

.project-dropdown-button {
    background: transparent;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}


.project-display-dropdown {
    top: 5px;
    right: 10px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px 5px 20px;
    min-width: 150px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    margin: 10px;
 }

// PROJECT END

.task-dropdown-button-container {
    display: none;
    // width: 15px;
    // height: 10px;
    // margin-right: 10px;
}

.task-dropdown-button {
    background: transparent;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.task-display-dropdown {
    top: 5px;
    right: 20px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px 5px 20px;
    min-width: 150px;
    box-shadow: 5px 5px 5px 5px rgba(192, 192, 192, 0.25);
    line-height: 20px;
    text-align: left;
    margin: 10px;
 }

// TASK START