.login-funday-container {
    width: 100vw;
    height: 100vh;
}

.login-monday-top-header-wrapper {
    display: block;
    padding-left: 8px;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 10px;
    height: 57px;
    background: #f7f7f7;
}

.login-monday-top-header-wrapper > a > img {
    width: 180px;
    height: 44px;
    margin-left: 12px;
}

.login-signup-router-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding: 40px;
}

.login-signup-div-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 16px;
}

.form-input-wrapper {
    display: flex;
    justify-content: flex-end;
}

.login-signup-header {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 40px;
}

#form-label {
    margin-right: 5px;
    margin-top: 13px;
    text-align: center;
}


#form-label {
    margin-right: 5px;
    margin-top: 13px;
    text-align: center;
}

.login-signup-text-box {
    margin-bottom: 20px;
}

.login-action-button-wrapper {
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 28px;
    border: none;
    border-bottom: 2px solid #0d91ca;
    background: #0fa2e2;
    font-size: 18px;
    border-radius: 15rem;
    color: #fff;
}


.login-signup-text-box {
    width: 100%;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-size: 16px;
    color: #555;
    outline: none;
}

.or-sign-in-with-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.separator-line {
    width: 75px;
    border: 1px solid #c5c7d0;
    margin: 16px;
}

.sign-up-option-login-form {
    text-align: center;
}



