.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(88, 88, 88, 0.7);
    z-index: 10;
  }
  
  .modal-child {
    box-shadow: black 0 25px 50px -15px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 250;
    width: 300px;
    transform: translate(-50%, -50%);
  }

.create-workspace-board-form-container {
  height:100%;
  width: 100%;
  background-color: white;
  border-radius: 7px;
  padding: 25px;
  padding-top: 30px;
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  form {
    box-sizing: border-box;
  }
  input {
    width: 100%;
    margin-right: 20px;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
  }

  input:focus {
    border-color: #0085ff;
  }
  
}

.create-workspace-board-header {
  color: #323338;
}

.create-workspace-board-input-container {
  height: 75%;
}

.create-workspace-board-form-button-container {
  height: 15%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-top: 15px;
}

.add-board-button {
  background-color: #0085ff;
  color: white;
  height: 40px;
  width: 115px;
  border-radius: 5px;
}
.add-board-button:hover {
  background-color: #0562b9;
  cursor: pointer;
}


.cancel-button {
  height: 40px;
  background: none;
  border: none;
  margin-right: 10px;
}

.cancel-button:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

