// // NAV BAR START
nav {
    width: 100% 
}

#root {
    width: 100%
}
.splash-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 72px;
    background-color: #fff;
    font-size: 14px;
}

.nav-buttons-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding-left: 32px;
    padding-right: 32px;
    -webkit-box-align: center;

}

.splash-nav-button {
    color: #323338;
    font-weight: 300;
}

.splash-nav-button:hover {
    color: #595ad4;
}

.left-nav-buttons {
    display: flex;
    flex-direction: row; 
    width: 40%;
}

.nav-buttons-parent-container > a > img {
    width: 180px;
    height: 42px;
    margin-right: 12px;
}

.nav-promo-link-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
}

.right-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
}

a.signup-button-small {
    background-color: #0F1048;
    color: white;
    border-radius: 30px;
    margin-left: 30px;
    padding: 15px;
}

a.signup-button-small > p:hover {
    opacity: 0.5;
}

.signup-button-big {
    background-color: #0F1048;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    padding: 50px;
}

a.signup-button-big:hover { // not working!
    opacity: 0.5;
}


// .homepage-logo {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
// }

* {
    font-size: 14px;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
}

a:link {
    text-decoration: none;
    padding: 10px;
}


.splash-headers {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 24px;
    font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
}

.splash-headers > h1 {
    font-size: 50px;
    margin-bottom: 16px;
    font-weight: lighter
}

.splash-headers > h2 {
    font-size: 20px;
    font-weight: lighter;
}

.selectable-tags-container {
    text-align: center;
    padding: 20px;
}

// LOGGED IN SPLASH


.main-parent-container {
    display: flex;
    width: 100vh;
    height: 100vh
}

.sidebar-container {
    display: flex;
    align-items: flex-end;
    border-right: 2px solid black;
}

.logout-button {
    display: flex;
    padding: 20px;
}

// .board-index-parent-container {
    
// }



.workspace-board-parent-container {
    border-right: 2px solid black;
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workspace-parent-container {
    display: flex;
    flex-direction: column;
    height: 30%;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
}

.workspace-index-container {
    display: flex;
}

.board-parent-container{
    height: 75%;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px
    
}

.dashboard-main-parent-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.dashboard-container{
    width: 70vw;
    border: 3px solid blue;
}

// welcome dashboard
.welcome-dashboard-parent-container {
    text-align: center;
    h1 {
        font-size: 32px;
    }
}

//board info display dashboard
