
.splash-main {
    height: 100vh;
}

.splash-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 72px;
    background-color: #fff;
    font-size: 14px;
}

.splash-content-parent {
    height: calc(100vh - 72px);
    background: linear-gradient(rgb(0, 1, 51) 0%, rgb(15, 16, 72) 100%);
    padding-top: 140px;
}

.nav-buttons-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.splash-nav-button {
    color: #323338;
    font-weight: 300;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-nav-button:hover {
    color: #595ad4;
}

.signup-button-small {
    background-color: #6C6CFF;
    color: white;
    border-radius: 30px;
    margin-left: 30px;
    padding: 15px;
}

.signup-button-small:hover {
    background-color: #6C6CFF;
    color: white;
    opacity: 0.7;
}


.left-nav-buttons {
    display: flex;
    flex-direction: row; 
    width: 40%;
}

.nav-buttons-parent-container > a > img {
    width: 150px;
    height: 42px;
    margin-right: 12px;
}

.nav-promo-link-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
}

.right-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
}

.get-started-big {
    align-items: center;
    margin-top: 10px;
}

.signup-button-big {
    background-color: #6C6CFF;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 45px 15px 45px;
}

.big-button-cont {
    margin-top: 65px;
    text-align: center;
}

.splash-headers {
    text-align: center;
    color: white;

    h1 {
        font-size: 72px;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 28px;
        margin-bottom: 50px;
    }
}
.selectable-tags-container {
    display: flex;
    justify-content: center;;
}

.splash-content-buttons {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 8px;
    margin: 8px;
    padding: 8px 8px 16px 8px;
    height: 120px;
    color: white;
    font-size: 16px;
    width: 120px;
    h3 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        // height: 85%;
    }
}

.splash-content-button-sel {
    border: 1px solid rgba(255,255,255,0.3);
    cursor: pointer;
    border-radius: 8px;
    margin: 8px;
    padding: 8px 8px 16px 8px;
    height: 120px;
    color: white;
    font-size: 16px;
    width: 120px;
    h3 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        // height: 85%;
    }
}

.checkbox-sel {
    border: 1px solid rgba(255,255,255,0.3);
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.splash-content-buttons:hover {
    cursor: pointer;
}

.checkbox-container {
    height: 15%;
}

.checkbox {
    border: 1px solid rgba(255,255,255,0.3);
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.checkbox-sel {
    font-size: 22px;
    text-align: center;
}



//icons 
.devicon-rails-plain-wordmark{
    font-size: 66px;
    text-align: center;
    color: #FF158A;
}

.devicon-mongodb-plain {
    font-size: 66px;
    text-align: center;
    color: #A25DDC;
}

.devicon-javascript-plain { // javascript
    font-size: 66px;
    text-align: center;
    color: #ff9900;
}

.devicon-postgresql-plain{
    font-size: 66px;
    text-align: center;
    color: #F04095;
}

.devicon-ruby-plain{
    font-size: 66px;
    text-align: center;
    color: #009AFF;
    
}

.devicon-react-original { // react
    font-size: 66px;
    text-align: center;
    color: #00D2D2
}
.devicon-redux-original { // react
    font-size: 66px;
    text-align: center;
    color: #579BFC
}

.devicon-nodejs-plain {
    font-size: 66px;
    text-align: center;
    color: #FF7575
}

.imgicon {
    height: 70%;
    margin: auto;
    margin-left: 28px;
    width: 80%;
    display: flex;
    flex-direction: center;
    align-items: center;
}

// selected
.hs0 {
    border: 1px solid #FF158A;
    .checkbox-sel {
        background-color: #FF158A;
    }
    .checkbox-sel::after {
        content: '\2713';
        color: black;
    }
}

.hs1 {
    border: 1px solid #A25DDC;
    .checkbox-sel {
        background-color: #A25DDC;
    }
    .checkbox-sel::after {
        content: '\2713';
        color: black;
    }
}

.hs2 {
    border: 1px solid #FF9900;
    .checkbox-sel {
        background-color: #FF9900;
    }
    .checkbox-sel::after {
        content: '\2713';
        color: black;
    }
}

.hs3 {
    border: 1px solid #F04095;
    .checkbox-sel {
        background-color: #F04095;
    }
    .checkbox-sel::after {
        content: '\2713';
        color: black;
    }
}

.hs4 {
    border: 1px solid #009AFF;
    .checkbox-sel {
        background-color: #009AFF;
    }
    .checkbox-sel::after {
        content: '\2713';
        color: black;
    }
}

.hs5 {
    border: 1px solid #00D2D2;
    .checkbox-sel {
        background-color: #00D2D2;
    }
    .checkbox-sel::after {
        content: '\2713';
        color: black;
    }
}

.hs6 {
    border: 1px solid #579BFC;
    .checkbox-sel {
        background-color: #579BFC;
    }
    .checkbox-sel::after {
        content: '\2713';
        color: black;
    }
}

.hs7 {
    border: 1px solid #FF7575;
    .checkbox-sel {
        background-color: #FF7575;
    }
    .checkbox-sel::after {
        content: '\2713';
        color: black;
    }
}

.hs8 {
    border: 1px solid #4ECCC6;
    .checkbox-sel {
        background-color: #4ECCC6;
    }
    .checkbox-sel::after {
        content: '\2713';
        color: black;
    }
}


// not selected
.h0:hover {
    border: 1px solid #FF158A;

    .checkbox.h0 {
        border: 1px solid #FF158A;
    }
}
.h1:hover {
    border: 1px solid #A25DDC;
    .checkbox.h1 {
        border: 1px solid #A25DDC;
    }
}
.h2:hover {
    border: 1px solid #FF9900;
    .checkbox.h2 {
        border: 1px solid #FF9900;
    }
}
.h3:hover {
    border: 1px solid #F04095;
    .checkbox.h3 {
        border: 1px solid #F04095;
    }
}
.h4:hover {
    border: 1px solid #009AFF;
    .checkbox.h4 {
        border: 1px solid #009AFF;
    }
}
.h5:hover {
    border: 1px solid #00D2D2;
    .checkbox.h5 {
        border: 1px solid #00D2D2;
    }
}
.h6:hover {
    border: 1px solid #579BFC;
    .checkbox.h6 {
        border: 1px solid #579BFC;
    }
}
.h7:hover {
    border: 1px solid #FF7575;
    .checkbox.h7 {
        border: 1px solid #FF7575;
    }
}
.h8:hover {
    border: 1px solid #4ECCC6;
    .checkbox.h8 {
        border: 1px solid #4ECCC6;
    }
}
